<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <div class="bosses">
    <div class=boss-box>
      <p class="titulo-boss">{{ boss.name }}</p>
      <img src="{{ boss.photo }}" alt="{{ boss.name }}" />
      <div class="boss-description">{{ boss.description }}</div>
    </div>
    </div>
  </body>
</html>
